# ignore software tools
/nand2tetris/tools

# ignore test and demo projects
/nand2tetris/projects/00
/nand2tetris/projects/demo

# ignore hardware development related projects
/nand2tetris/projects/0[1-6]

# ignore something unrelated
/nand2tetris/projects/13